<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="flash"></ion-icon>
      <ion-label>User Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="helpdesk">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Help Desk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
