
<ion-content>
  
    <ion-card>
      Welcome to HelpDesk!
    </ion-card>

    <ion-card *ngFor="let x of complaintsList;let i=index">
      <ion-card-header>
        <ion-card-title>Complaint# {{x.complaintId}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          RoomType: {{x.roomType}}
        </ion-row>
        <ion-row>
          Status: {{x.status}}
        </ion-row>
        <ion-row>
          Raised by: {{x.firstName}}
        </ion-row>
      </ion-card-content>
      
    </ion-card>

    <div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" class="" (click)="presentModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <p *ngIf="dataReturned">{{dataReturned | json}}</p>
</ion-content>
