<ion-header>
  <ion-toolbar>
    <ion-title>
      User Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <!-- <app-loading *ngIf="!posts"></app-loading> -->

    <div id="profile-info" *ngIf="username">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <p>{{ username }}</p>
            <ion-button shape="round" color="primary" routerLink="/tabs/edit-profile">Edit Profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  <!--</ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>-->
    </ion-card>
</ion-content>
