<ion-header>
    <ion-toolbar text-center>
      <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            ID : {{uID}}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col><ion-item>Bed Number: {{bedNumber}}</ion-item></ion-col>
          <ion-col text-center>
            <ion-item>
              <ion-label>RoomType:</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="createComplaint()">Add Complaint</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>